<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Link Mystyle -->
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="container">
        <!-- COLONNA SINISTRA -->
        <div class="left-column">
            <div class="left-header">
                <div class="user">
                    <img class="avatar" :src="user.avatar" alt="#">
                    <span class="user_name">{{ user.name }}</span>                  
                </div>
                <div class="icon-header">
                    <i class="fa-solid fa-spinner" style="color: #6f7f94;"></i>
                    <i class="fa-solid fa-message" style="color: #6f7f94;"></i>
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #6f7f94;"></i>
                </div>
            </div>
            <div class="left-bell">
                <div class="icon-bell">
                    <i class="fa-solid fa-bell-slash" style="color: #8EDAFC;"></i>
                </div>
                <div class="notify">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="#">Attiva notifiche desktop</a>
                </div>               
            </div>
            <div class="left-search">
                <div class="search-icon">
                    <i class="fas fa-search" style="color: #6f7f94; "></i>
                </div>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <div class="left-main">
                <div 
                class="contact"
                v-for="(contact, index) in contacts"
                @click="ChangeActiveIndex(index)"
                >
                    <img :src="contact.avatar" alt="#">
                    <div class="contact_message"> 
                        <span class="message_name">{{ contact.name }}</span>
                        <span class="message_text">{{ contact.messages[contact.messages.length - 1].message }}</span>
                    </div>
                </div>               
            </div>
        </div>
        <!-- COLONNA DESTRA -->
        <div class="right-column">
            <div class="right-header">
                <div class="consumer">
                    <img 
                    :src="contacts[activeIndex].avatar" alt="#"
                    >
                    <div class="info">
                        <div class="name">
                            {{ contacts[activeIndex].name }} 
                        </div>
                        <div class="last-access">
                            Ultimo accesso alle:
                        </div>
                    </div>
                </div>
                <div class="icon-right">
                    <i class="fa-solid fa-magnifying-glass" style="color: #6f7f94;"></i>
                    <i class="fa-solid fa-paperclip" style="color: #6f7f94;"></i>
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #6f7f94;"></i>
                </div>
            </div>
            <div class="right-main">
                <div 
                class="main_text"
                v-for="message in contacts[activeIndex].messages"
                >
                    <div :class="message.status">
                        {{ message.message }}
                        <div class="message_date">
                        {{ message.date }}
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="right-footer">
                <i class="far fa-smile" style="color: #6f7f94;"></i>
                <input 
                class="write-mex" 
                type="text" 
                placeholder="Scrivi un messaggio"
                @keyup.enter="sendMex(activeIndex)"
                v-model="newMessage.message"
                >
                <i class="fas fa-microphone" style="color: #6f7f94;"></i>
            </div>
        </div>
    </div>

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- MYSCRIPT -->
    <script src="assets/myscript.js"></script>
</body>
</html>