/* GENERAL STYLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: system-ui, sans-serif;
}
body{
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD6 20%
      );
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MYSTYLE */
.container{
    width: 1100px;
    height: 90vh;
    display: flex;
}
/* COLONNA SX */
.left-column{
    width: 35%;
    height: 100%;
    background-color: white;
}
/* COLONNA DX */
.right-column{
    width: 65%;
    height: 100%;
    background-color: darkslategray;
}
