/* GENERAL STYLE */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD6 20%
      );
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    cursor: pointer;
}
/* MYSTYLE */
.container{
    width: 1100px;
    height: 90vh;
    display: flex;
}
/* COLONNA SX */
.left-column{
    width: 35%;
    height: 100%;
    background-color: white;
    border: 1px solid grey;
}
/* HEADER SX */
.left-header{
    height: 10%;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    height: 80%;
    width: 30%;
    border: 1px solid black;
}
.icon-header{
    height: 80%;
    width: 30%;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
/* BELL */
.left-bell{
    height: 10%;
    width: 100%;
    background-color: #8EDAFC;  
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.icon-bell{
    background-color: white;
    padding: 0.7rem;
    border-radius: 50%;
}
.notify{
    display: flex;
    flex-direction: column;
}
/* SEARCH */
.left-search{
    height: 7%;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
input{
    width: 90%;
}
/* MAIN SX */
.left-main{
    height: 73%;
    width: 100%;
    background-color: white;
    overflow-y: auto;
}
/* COLONNA DX */
.right-column{
    width: 65%;
    height: 100%;
    background-color: darkslategray;
    border: 1px solid grey;
}
/* HEADER DX */
.right-header{
    height: 10%;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}
.consumer{
    height: 80%;
    width: 30%;
    border: 1px solid black;
}
.icon-right{
    font-size: 25px;
}
/* MAIN DX */
.right-main{
    height: 80%;
    width: 100%;
    overflow-y: auto;
}
/* FOOTER DX */
.right-footer{
    height: 10%;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    font-size: 25px;
}
.write-mex{
    height: 60%;
}